@model IEnumerable<Movie>

<h2>Movies</h2>
<table class="table">
    <tr>
        <th>Movie ID</th>
        <th>Movie Name</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>Rating Scale</th>
        <th>Series or Movie</th>
    </tr>

    @foreach (var movie in @Model)
    {
            <tr>
            <td><a href=/Movie/ViewMovie/@movie.MovieID>@movie.MovieID</a></td>
                <td>@movie.MovieName</td>
                <td>@movie.GenreName</td>
                <td>@movie.Rating</td>
                <td>@movie.RatingScale</td>
                <td>@movie.SeriesOrMovie</td>
            </tr>
    }

</table>